venv
.venv
env

# Ignore git history
.git
.gitignore

# Ignore Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore local IDE settings
.vscode
.idea

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore logs
logs
catboost_info